<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sensorMapper">
	<resultMap type="Sensor" id="sensorResultSet">
		<result property="sersorNo" column="sensor_no" />
		<result property="time" column="time" />
		<result property="loadcell1" column="loadcell_1" />
		<result property="loadcell2" column="loadcell_2" />
		<result property="loadcell3" column="loadcell_3" />
		<result property="loadcell4" column="loadcell_4" />
		<result property="loadcell5" column="loadcell_5" />
	</resultMap>

	<!-- 시간별 조회 -->
	<select id="timeSensor" parameterType="Sensor" resultType="_int">
		select
		       sensor_no,
		       time,
		       loadcell_1,
		       loadcell_2,
		       loadcell_3,
		       loadcell_4,
		       loadcell_5
		  from sensor
<![CDATA[where time >= 0
		   and time <= 5]]>
	</select>


</mapper>